@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Admin</h1>
    
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Productoes" asp-action="Index">Lista de Productos</a>
     </button>
</div>
