@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen de recuperación</h1>
    <h2>Jorge Hernández Toledo - 2DAW-A</h2>
    <button>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
     </button>
</div>
